<!--<div class="row" style="display:inline-flex;background: lightgray; width: 100%; height: 20vh;">-->
  <!--<img src="assets/inima.png"  class="img-responsive" >-->
  <!--<h2 style="margin-top: 9%">Select your days off!</h2>-->
<!--</div>-->
<div class="topnav">
  <img src="assets/inima.png" width= "10%"alt="Flowers in Chania">
  <span class="dimension">Select your days off!</span>
</div>
<!--<div class="container">-->
  <!--<img src="assets/inima.png">-->
  <!--<h1>Select your days off!</h1>-->
<!--</div>-->

<!--<div class="calen">-->

  <!--<div class="month">-->
    <!--<ul>-->
      <!--<li class="prev">&#10094;</li>-->
      <!--<li class="next">&#10095;</li>-->
      <!--<li>-->
        <!--August<br>-->
        <!--<span style="font-size:18px">2017</span>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--<ul class="weekdays">-->
    <!--<li>Mo</li>-->
    <!--<li>Tu</li>-->
    <!--<li>We</li>-->
    <!--<li>Th</li>-->
    <!--<li>Fr</li>-->
    <!--<li>Sa</li>-->
    <!--<li>Su</li>-->
  <!--</ul>-->

  <!--<ul class="days">-->
    <!--&lt;!&ndash;<li>{{d}}</li>&ndash;&gt;-->
    <!--<li (click)="choose(1)">1</li>-->
    <!--<li (click)="choose(2)">2</li>-->
    <!--<li (click)="choose(3)">3</li>-->
    <!--<li (click)="choose(4)">4</li>-->
    <!--<li (click)="choose(5)">5</li>-->
    <!--<li (click)="choose(6)">6</li>-->
    <!--<li (click)="choose(7)">7</li>-->
    <!--<li (click)="choose(8)">8</li>-->
    <!--<li (click)="choose(9)">9</li>-->
    <!--<li (click)="choose(10)"><span class="active">10</span></li>-->
    <!--<li (click)="choose(11)">11</li>-->
    <!--<li (click)="choose(12)">12</li>-->
    <!--<li (click)="choose(13)">13</li>-->
    <!--<li (click)="choose(14)">14</li>-->
    <!--<li (click)="choose(15)">15</li>-->
    <!--<li (click)="choose(16)">16</li>-->
    <!--<li (click)="choose(17)">17</li>-->
    <!--<li (click)="choose(18)">18</li>-->
    <!--<li (click)="choose(19)">19</li>-->
    <!--<li (click)="choose(20)">20</li>-->
    <!--<li (click)="choose(21)">21</li>-->
    <!--<li (click)="choose(22)">22</li>-->
    <!--<li (click)="choose(23)">23</li>-->
    <!--<li (click)="choose(24)">24</li>-->
    <!--<li (click)="choose(25)">25</li>-->
    <!--<li (click)="choose(26)">26</li>-->
    <!--<li (click)="choose(27)">27</li>-->
    <!--<li (click)="choose(28)">28</li>-->
    <!--<li (click)="choose(29)">29</li>-->
    <!--<li (click)="choose(30)">30</li>-->
    <!--<li (click)="choose(31)">31</li>-->
  <!--</ul>-->
<!--</div>-->
<!--<div class="comment">-->
  <!--<h2>Leave a comment</h2>-->
  <!--<input type="text" #box (keyup.enter)="onEnter(box.value)">-->
<!--</div>-->
