<div class="topnav">
  <img width="10%" src="assets/inima.png">
  <span class="dimension">Select your days off!</span>
</div>

<div class="row">
      <div class="col-md-6">
          <div class="labelStyle2">Select interval</div>
          <div>
            <div><label class="labelStyle">Start date</label></div>

          <input [(ngModel)]="selectedDate" [matDatepicker]="myDatepicker">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          </div>
          <div>
            <div><label class="labelStyle">End date</label></div>
            <input [(ngModel)]="selectedDate2" [matDatepicker]="myDatepicker2">
            <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
            </div>
      </div>
  <div class="col-md-6">
    <div class="row" style="margin-left: 10%; margin-top: 20%">
      <h2>Leave a comment</h2>
      <input class="mare" type="text" #box (keyup.enter)="onEnter(box.value)">
      <h4><i>*Press Enter to request your day off*</i></h4><br><br>
      <div class="alert alert-success"  *ngIf="done">
        {{message}}
      </div>
      <div class="alert alert-danger"  *ngIf="err">
        {{message}}
      </div>
    </div>
  </div>
</div>
