<div class="flexi">
  <div>
    <img src="assets/inima.png" alt="Flowers in Chania">
    <div class="spacing">
      <div><input id="username" placeholder="Email" type="text" name="fname" [(ngModel)]="username"><br></div>
      <div><input id="password" placeholder="Password" type="password" name="lname" [(ngModel)]="password"><br></div>
      <button class="buttonClr" (click)="login()">Login</button>
      <a href="#" class="myButton">Log in with facebook</a>
      <br>
      <button (click)="serus()" >I'm a patient</button>
    </div>

  </div>
  <div>



  </div>

</div>
