h1{
	color :	#800000;
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	margin-left:300px;
	margin-bottom:100px;
	margin-top:50px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.buttonClr{
	background-color:#ff3300;
	border: none;
	height:40px;
	width: 100px;
    margin-top:40px;
    cursor: pointer;
    color:white;
	width:15%;
	font-size:15px;
    
}
.buttonClr:hover{
	background-color:red;
}
.myButton:active {
	position:relative;
	top:1px;
}
#gigi{
    width: 100%;
	background-color: #353740
}
#username{
	margin-bottom: 20px;
	width: 15%;
	height:30px;
	font-size:15px;
}	
.flexi{
	flex-direction:row;
	background-color:#353740;
}
.spacing-up{
	margin-bottom:100px;
}
#password{
	width: 15%;
	height:30px;
	font-size:15px;
}
.spacing{
	margin-left:100px;
	margin-top:50px;
}
nav ul{
	float:right;
	background-color:#F4A460;
	margin-block-end: 0;
}
nav ul li{
	display:inline-block;
	list-style-type:none;
	padding:10px;
	font-size:20px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
nav ul li:hover{
	color: white;
}
nav img{
    margin-top: 1000px;
	width:100%;
}
section ul{
	margin-bottom:0px;
}
section ul li{
	background-color:#B4EEB4;
	display:inline-block;
	width: 30%;
}
section ul li img {
	width:100%;
	height:350px;
}
section ul li p{
	background-color:#DEB887;
}
h4{
	color:blue;
	font-size:20px;
}
footer{
	display:block;
	clear:both;
	background-color:#40E0D0;
}
div{
	width:1200px;
	margin:0px auto;
}
img{
	margin-top: 50px;
}