<div>
    By accepting the GDPR regulations you will give your consent that the following data will be processed and used
    for medical and research purposes: 
    Name
    Address
    Past medical records
    Medical data ( allergies etc.)
    By toggling the button below you accept the terms and conditions mentioned. You can always change your choice by visiting this page and toggling of the button, or ask any questions about how your data is being processed by our medical staff: 
</div>
<div>
Consent regarding GDPR Regulations
</div>
<label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
</label>
<img width="5%" src="assets/gdpr.jpg" alt="Flowers in Chania">
