<img src="assets/whht.png">
<br><br><br>
<div id="lgn">
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="username">
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" [(ngModel)]="password">
  </mat-form-field>
  <br>
  <br>
  <button id="lgnBttn" mat-raised-button (click)="login()">
    Login
  </button>
  <br><br>
</div>

<button (click)="emergency()" class="myButton2">Emergency</button><br><br>
<mat-checkbox color="warn" id="checkBox" [checked]="isAccepted()" (click)="toggleCheck()">
  Accept terms and conditions
</mat-checkbox>