<div class="row">
<div class="topnav">
  <img src="assets/inima.png" width= "10%"alt="Flowers in Chania">
  <span class="dimension">View Monitored Data For Patient</span> 
  <select class="styled-select blue semi-square" (change)="choose($event)">
      <option selected="selected">
          Select a patient to monitor
          </option>
      <option *ngFor="let p of patients" value="{{p}}" >{{p}}</option>
    </select>
</div>
</div>
  <div class="row">
  <div class="col-sm-4">
    <div>
      <span class="fields">{{patientName}}</span>
    </div>
  <div>
    <span class="fields">Beats per minute:</span>
    <input class="center" [(ngModel)]="beatsValue" placeholder="Beats/min"/> 
  </div>
  <div>
    <span class="fields">Blood pressure:</span>
    <input class="center" [(ngModel)]="pressureValue" placeholder="Blood Pressure"/> 
  </div>
  <div>
    <span class="fields">Nr steps/day:</span>
    <input class="center"[(ngModel)]="stepsValue" placeholder="Steps/Day"/> 
  </div>
  </div>
  <div class="col-sm-6">
  <img src="assets/heart.png" width="100%" alt="Flowers in Chania">
  </div>  
</div>
