.container{
  position: fixed;
  left:0px;
  background: lightgray;
  width: 80%;
  /* margin-right: 1500px; */
}
#title{
  position: fixed;
  top: 170px;
  left: 280px;
}
.bd{
  margin-top:5%;
  background-color: lightgray;
  width: 100%;
  align-content: center;
}
.checked {
  color: orange;
}

#s1, #s2, #s3, #s4, #s5 {
  font-size: 30px;
  cursor: pointer;
}
.gigi{
  width: 80%;
}
.gigel{
  margin-left: 5%;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0px;
  border: none;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}


.btn:hover {
  background-color: #45a049;
}
.column {
  float: left;
  width: 33.33%;
  padding: 50px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

}

