/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.topnav {
    background-color: #EBEBEB;
    overflow: hidden;
    border-radius: 5px;
    color: black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav i {
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color : #FF0D00;
  }
  
  .topnav i:hover {
    color: black;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #FF0D00;
    color: black;
  }
  .dimension{
    color:black;
    font-size: 30px;
    padding:30px;
  }