.container {
  position: absolute;
  left: 0px;
  background: lightgray;
  width: 1910px;
  margin-right: 1500px;
}

/* h1 {
  position: absolute;
  top: 100px;
  left: 280px;
} */
.klm{
  /* position: absolute; */
  margin-top:5%;
  /* left:20px; */
  /* right: 50px; */
  /* width: 98%; */
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  height: 300px; /* Should be removed. Only for demonstration */

}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;

} */

select {
  height: 40px;
  width: 80%;
  font-size: 20px;
}
.bn{
  width: 100%;
  height: 50px;
}
textarea{
  width: 80%;
  height:30vh;
}
.cornel{
  width:39%;
  margin-right:2%;
}
.srs:hover{
  background-color:green;
}
