<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="docHome">DoctorHome</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="daysoff">Days Off</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="report">Appointment Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="monitored">Monitored Data</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" routerLink="review">Review your doctor</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
