<div class="row">
<div class="topnav">
    <img width= "10%" src="assets/inima.png">
    <span class="dimension">Welcome, {{doc}}</span> 
  </div>
</div>
<br>
<br>

<div class="coloring">
<div class="row">

  <table>
    <tbody>
        <ng-container *ngFor="let patient of patients">
            <tr  [ngStyle]="{'background-color':patient.color}" >
               <td >{{patient.name}}<button class="button" (click)="examine(patient.name)">Examine</button></td>
            </tr>
         </ng-container>
    </tbody>
  </table>
</div>
</div>
