<div class="topnav">
  <img width="10%" src="assets/inima.png">
  <span class="dimension">Make an appointment!</span>
</div>
<div class="modal-body row">
  <div class="col-md-6">
      <!-- <dl-date-time-picker
      startView="day"
      maxView="year"
      minView="minute"
      minuteStep="5"
      [(ngModel)]="selectedDate"
  >
  </dl-date-time-picker> -->
  

  <input [(ngModel)]="selectedDate" [matDatepicker]="myDatepicker">
  <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
  <mat-form-field>
      <mat-label>Select an hour (required)</mat-label>
      <h3><select placeholder="Hour" matNativeControl required [formControl]="selectFormControl" [(ngModel)]="hour">
        <option value="" disabled selected>Hours</option>
        <option *ngFor="let hour of hours" value="{{hour}}">{{hour}}</option>
      </select></h3>
      <mat-error *ngIf="selectFormControl.hasError('required')">
        This field is required
      </mat-error>
      <mat-hint>Choose the date of appointement</mat-hint>
    </mat-form-field>
  </div>
  <div class="col-md-6">
    <div class="row" style="margin-left: 15%">
        <mat-form-field>
            <mat-label>Select a domain (required)</mat-label>
            <h3><select placeholder="Domain" matNativeControl required [formControl]="selectFormControl" (change)="chooseDom($event)">
              <option value="" disabled selected>Domains</option>
              <option *ngFor="let d of domains" value="{{d}}">{{d}}</option>
            </select></h3>
            <mat-error *ngIf="selectFormControl.hasError('required')">
              This field is required
            </mat-error>
            <mat-hint>Choose the domain of the chosen doctor</mat-hint>
          </mat-form-field>
    </div>
    <div class="row" style="margin-left: 15%; margin-top: 10%">
        <mat-form-field>
            <mat-label>Select a doctor (required)</mat-label>
            <h3><select placeholder="Doctors" matNativeControl required [formControl]="selectFormControl" (change)="chooseDoc($event)">
              <option value="" disabled selected>Doctors</option>
              <option *ngFor="let p of docs" value="{{p.name}}">{{p.name}}</option>
            </select></h3>
            <mat-error *ngIf="selectFormControl.hasError('required')">
              This field is required
            </mat-error>
            <mat-hint>Choose the doctor you want to search for</mat-hint>
          </mat-form-field>
      
    </div>
    <div class="row" style="margin-top: 10%; margin-left: 15%">
      <button class="btn btn-success" (click)="makeapp()" data-toggle="modal" data-target="#exampleModal">Save</button>
      <button class="btn" (click)="reloadPage()">Cancel</button><br><br><br>
      <div class="alert alert-danger"  *ngIf="selected">
        You must complete all fields!
      </div>
      <div class="alert alert-success"  *ngIf="done">
        Your appointment has been made successfully!
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!--<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{message}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reloadPage()">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saved()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--end modal-->
  </div>
</div>
